/**
* setup
**/

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.container {
  margin-top: 53px;
}

// for customer scan
.btn-direction {
  width: 100% !important;
  height: 25px !important;
  padding: 0 !important;
  font-size: 13px !important;
}
