.profile{
    background-color: $color-background;
    padding-top: 45px;
    .content{
      padding-bottom: 50px;
      .left{
        .avata-img{
          text-align: center;
          img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
          }
        }
        .profile-score{
          padding-top: 10px;
          text-align: left;
          p{
              margin-bottom: 2px;
          }
          .info{
            padding-bottom: 20px;
            .name{
              color: $font-color-black;
              font-weight: bold;
            }
            .score{
              color: $font-color-black;
              font-weight: bold;
            }
          }
          .money{
            padding-bottom: 30px;
            p{
              color: $font-color-grey;
            }
            .total{
              color: $color-orange;
            }
            .income{
              color:$color-orange;
            }
          }
        }
        .account-info{
          border-top: 1px solid $color-border;
          text-align: left;
          ul{
            margin-left: 0;
          }
          ul li{
            list-style: none;
          }
          ul li a{
            color: $font-color-dark;
          }
          h4{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 18px;
            color: $font-color-black;
            font-weight: bold;
            padding-top: 20px;
          }
        }
      }
      .right{
        background-color: $color-background-white;
        text-align: right;
        .form-info{
          .form-control:disabled{
            background-color: $color-background-white;
            font-weight: bold;
          }
          padding-top: 40px;
          .confirm{
            position: absolute;
            right: 30px;
            top: 8px;
            i{
              border-radius: 50%;
              background: $color-main;
              color: white;
              padding: 2px;
              font-size: 11px
            }
            span{
              font-style: italic;
              font-size: 12px;
              padding-right: 5px;
            }
          }
        }
        .title{
          border-bottom: 1px solid $color-border;
          h3{
            text-align: left;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 18px;
            padding-bottom: 15px;
            padding-top: 20px;
            font-weight: bold;
          }
        }
        .table-data{

          padding-top: 50px;
          .table-striped tbody tr:nth-of-type(even){
            background-color: $color-background;
          }
          .table-striped tbody tr:nth-of-type(odd){
            background-color: $color-background-white;
          }
          thead{
            text-align: center;
            background-color: $color-background;
            th{
              border: none;
              color: $font-color-dark;
              font-weight: bold;
            }
          }
          tbody{
            text-align: center;
            td{
              color: $font-color-grey;
            }
            .done{
              color: $color-main;
            }
            .fail{
              color: $color-red;
            }
          }
          .paging{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
              color: $font-color-dark;
              font-weight: bold;
            }
          }
        }
        .search{
          position: absolute;
          right: 0;
          top: -54px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .profile{
      .right{
        .title{
          h3{
            font-size: 21px !important;
            padding-bottom: 5px !important;
          }
          border-bottom: none !important;
        }
        .form-info{
          padding-top: 0px !important;
          label{
            text-align: left;
            font-size: $font-title-small-mobile;
            padding-bottom: 3px;
            padding-top: 5px;
          }
          .form-control:disabled{
            font-size: $font-title-small-mobile !important;
          }
          .form-group{
            padding-bottom: 0px !important;
          }
        }
        .tab-list{
          .nav-tabs{
            display: -webkit-inline-box !important;
            overflow: scroll;
            width: 100%;
            &::-webkit-scrollbar{
              display: none;
            }
            a{
              color: $font-color-grey !important;
            }
            .nav-link{
              border: none;
            }
            .nav-link.active{
              border-bottom: 3px solid $color-main;
              color: $font-color-dark !important;
              font-weight: bold;
            }
          }
          .table-data{
            padding-top: 20px !important;
            th{
              font-size: $font-title-small-mobile;
            }
            td{
              font-size: $font-title-small-mobile;
              .employee{
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

          }
        }
      }

    }
  }
  @media (max-width: 766px) and (min-width: 577px) {
    .profile{
      .form-info{
        label{
          text-align: left;
        }
      }
    }
  }
.is-content {
  padding: 25px 25px 50px 25px;
}
.form-info{
  .update{
      text-align: center;
      padding-top: 30px;
  }
}
