.profile{
    background-color: $color-background;
    .breadcrumb{
      background-color:  $color-background;
      .breadcrumb-item:first-child::after{
        display: inline-block;
        color: $font-color-dark;
        content: ">";
        padding-left: 10px;
        padding-right: 0px;
      }
      .breadcrumb-item:last-child::before{
        display: inline-block;
        color: $font-color-dark;
        content: "";
      }
      li{
          color: $font-color-dark;
      }
      a{
        color: $font-color-dark;
      }
    }
    .content{
      padding-bottom: 50px;
      .left{
        .avata-img{
          text-align: center;
          img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
          }
        }
        .profile-score{
          padding-top: 10px;
          text-align: left;
          p{
              margin-bottom: 2px;
          }
          .info{
            padding-bottom: 20px;
            .name{
              color: $font-color-black;
              font-weight: bold;
            }
            .score{
              color: $font-color-black;
              font-weight: bold;
            }
          }
          .money{
            padding-bottom: 30px;
            p{
              color: $font-color-grey;
            }
            .total{
              color: $color-orange;
            }
            .income{
              color:$color-orange;
            }
          }
        }
        .account-info{
          border-top: 1px solid $color-border;
          text-align: left;
          ul{
            margin-left: -30px;
          }
          ul li{
            list-style: none;
          }
          ul li a{
            color: $font-color-dark;
          }
          h4{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 18px;
            color: $font-color-black;
            font-weight: bold;
            padding-top: 20px;
          }
        }
      }
      .right{
        background-color: $color-background-white;
        text-align: right;
        .form-info{
          .form-control:disabled{
            background-color: $color-background-white;
            font-weight: bold;
          }
          padding-top: 40px;
          .confirm{
            position: absolute;
            right: 30px;
            top: 8px;
            i{
              border-radius: 50%;
              background: $color-main;
              color: white;
              padding: 2px;
              font-size: 11px
            }
            span{
              font-style: italic;
              font-size: 12px;
              padding-right: 5px;
            }
          }
        }
        .title{
          border-bottom: 1px solid $color-border;
          h3{
            text-align: left;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 18px;
            padding-bottom: 15px;
            padding-top: 20px;
            font-weight: bold;
          }
        }
      }
    }
    
  }

  @media (max-width: 576px) {
    .profile{
      .right{
        .title{
          h3{
            font-size: 21px !important;
            padding-bottom: 5px !important;
          }
          border-bottom: none !important; 
        }
        .form-info{
          padding-top: 0px !important;
          label{
            text-align: left;
            font-size: $font-title-small-mobile;
            padding-bottom: 3px;
            padding-top: 5px;
          }
          .form-control:disabled{
            font-size: $font-title-small-mobile !important;
          }
          .form-group{
            padding-bottom: 0px !important;
          }
        }
        .tab-list{
          .nav-tabs{
            display: -webkit-inline-box !important;
            overflow: scroll;
            width: 100%;
            &::-webkit-scrollbar{
              display: none;
            }
            a{
              color: $font-color-grey !important;
            }
            .nav-link{
              border: none;
            }
            .nav-link.active{
              border-bottom: 3px solid $color-red;
              color: $font-color-dark;
              font-weight: bold;
            }
          }
        }
      }

    }
  }
  @media (max-width: 766px) and (min-width: 577px) {
    .profile{
      .form-info{
        label{
          text-align: left;
        }
      }
    }
  }