$color-main: #2EBE4A;
$color-background: #F4F0F0;
$color-orange: #F57522;
$color-red: #FC2222;
$color-grey-light: #d6d6d6;

$font-color-dark: #333333;
$font-color-grey: #666666;

$font-title-mobile: 21px;
$font-title-small-mobile: 13px;
$font-description-mobile: 11px;

$font-family-main: 'Varela Round', sans-serif;
